<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-title *ngIf="chat$ | async as chat">{{chat?.topic}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="chat$ | async as chat" class="messages">
    <div *ngFor="let msg of chat.messages; trackBy: trackByCreated">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="msg.user?.photoURL">
        </ion-avatar>
        <ion-label text-wrap>
          <p>{{ msg.user?.displayName }} - {{ msg.createdAt | date:'short' }}</p>
          <h3>{{ msg.content }}</h3>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <div class="stick-bottom">
    <ion-item>
      <ion-textarea placeholder="Gebe deine Nachricht ein" [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">
      </ion-textarea>
    </ion-item>
    <ion-button expand="block" shape="round" fill="outline" color="primary" (click)="submit(chat.id)">Senden
    </ion-button>
  </div>

  
</ion-content>