<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-title>Nachrichten</ion-title>
    <ion-buttons slot="secondary">
        <ion-button [routerLink]="['/app/tabs/profile']">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="false">
    <ion-card-header>
      <ion-card-subtitle>Information</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h1>Anmeldung</h1>
      <p text-wrap>Melde dich mit nur einem Klick an um den ganzen Umfang von BookAround nutzen zu können.</p>
      <p text-wrap>Unser Angebot bleibt für dich dauerhaft kostenfrei!</p>
    </ion-card-content>
    <ion-item>
      <ion-button fill="outline" slot="end" [routerLink]="['/login']">Zur Anmeldung</ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="chatsArray.length">
    <ion-list>
      <ion-item *ngFor="let chat of chatsArray;" detail [routerLink]="['/app/tabs/chat', chat.id]">
        <ion-thumbnail slot="start">
            <img src="assets/img/nocover.png">
          </ion-thumbnail>
          <ion-label>
              <h3>{{chat.topic}}</h3>
              <p>Letzte Nachricht: {{chat.updatedAt | date:'short' }}</p>              
            </ion-label>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>